[SparkPost]
# Set the host to use here - if using SparkPost EU or Enterprise
Host = api.eu.sparkpost.com

# Your API key here - must have Recipient Validation permissions checked
Authorization = <YOUR API KEY>

# How many concurrent threads Python will use for requests. CURRENTLY IGNORED
Threads = 1

# Optional. Tune the snooze time used if & when 429 rate-limiting replies received.
SnoozeTime = 120
